<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>
<link rel="shortcut icon" type="image/png" sizes="16x16" href="../assets/images/favicon/favicon-16x16.ico">
<link rel="shortcut icon" type="image/png" sizes="32x32" href="../assets/images/favicon/favicon-32x32.ico">
<link rel="shortcut icon" type="image/png" sizes="64x64" href="../assets/images/favicon/favicon-64x64.ico">
<link rel="shortcut icon" type="image/png" sizes="96x96" href="../assets/images/favicon/favicon-96x96.ico">
<link rel="shortcut icon" type="image/png" sizes="180x180" href="../assets/images/favicon/favicon-180x180.ico">
<link rel="shortcut icon" type="image/png" sizes="192x192" href="../assets/images/favicon/favicon-192x192.ico">
<link rel="stylesheet" href="/css/global.css">
<!-- <link rel="stylesheet" href="/css/bootstrap-5.3.7-dist/css/bootstrap.css"> -->
<link rel="stylesheet" href="/css/bootstrap-5.3.7-dist/css/bootstrap.min.css">
<!-- <script src="/css/bootstrap-5.3.7-dist/js/bootstrap.min.js"></script> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"> -->
