<div class="cta-form" id="contact-us">
  <h2>Закажите ваш проект в «Формула ППР»</h2>
  <p>Мы готовы разработать ППР любой сложности в кратчайшие сроки.</p>
  <div class="cta-contacts">
    <div class="cta-item">
      <img class="cta-phone" src="../assets/images/icons/icon-phone-blue.svg" alt="Телефон для связи">
      <a href="tel:+79218572255">+7 (921) 857-22-55</a>
    </div>
    <div class="cta-item">
      <img class="cta-email" src="../assets/images/icons/icon-email-blue.svg" alt="Электронная почта для связи">
      <a href="mailto:formulappr@yandex.ru">formulappr@yandex.ru</a>
    </div>
  </div>
</div>