<div id="order-modal" class="modal-overlay" aria-hidden="true">
  <div class="modal-content">
    <button class="modal-close" aria-label="Закрыть">&times;</button>
    <div class="modal-body">
      <h3>Оставьте заявку</h3>
      <p>Заполните форму, и мы свяжемся с вами для уточнения деталей.</p>

      <script src="https://forms.yandex.ru/_static/embed.js"></script><iframe src="https://forms.yandex.ru/u/6a3e8051d04688002db8170f?iframe=1" frameborder="0" name="ya-form-6a3e8051d04688002db8170f" width="650"></iframe>
    </div>
  </div>
</div>