<!DOCTYPE html>
<html lang="ru">
<head>
  {% include "basehead.html" %}
</head>
<body>
  <!-- READY -->
  <header>
    {% include "baseheader.html" %}
  </header>



  <main>
    {{content | safe}}
  </main>





  <!-- READY -->
  <footer>
    {% include "basefooter.html" %}
  </footer>


  <!-- WORK IN PROGRESS -->
  <!-- MOVE TO SEPARATE FILE WHEN FINISHED -->
  <script>
    // HEADER CODE
    // Menu folding/unfolding
    const hamburger = document.querySelector('.hamburger');
    const navList = document.querySelector('.nav-list');

    if (hamburger && navList) {
      hamburger.addEventListener('click', () => {
        hamburger.classList.toggle('active');
        navList.classList.toggle('active');

        const expanded = hamburger.getAttribute('aria-expanded') === 'true';
        hamburger.setAttribute('aria-expanded', !expanded);
      });
    }




    // FOOTER CODE
    // Automatic year actualization
    const yearSpan = document.getElementById('year');
    if (yearSpan) {
      yearSpan.textContent = new Date().getFullYear();
    }
  </script>

  {% if page.url == '/why-formula-ppr/' %}
    <script>
      // Nopriz modal image
      var modal = document.getElementById("noprizModal");

      var img = document.getElementById("noprizCert");
      var modalImg = document.getElementById("cert01");
      var captionText = document.getElementById("noprizCaption");
      img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = "Аттестация НОПРИЗ";
      }

      var span = document.getElementsByClassName("close")[0];

      span.onclick = function() {
        modal.style.display = "none";
      }
    </script>
  {% endif %}
</body>
</html>