<!DOCTYPE html>
<html lang="ru">
<head>
  {% include "basehead.html" %}
</head>
<body>



  <header>
    {% include "baseheader.html" %}
  </header>



  <main class="px-4">
    {{content | safe}}
  </main>



  <footer>
    <!-- CODE HERE -->
  </footer>




  <script>
    const hamburger = document.querySelector('.hamburger');
    const nav = document.querySelector('nav');
    const main = document.querySelector('main');
    const navList = document.querySelector('.nav-list');

    hamburger.addEventListener('click', () => {
      hamburger.classList.toggle('active');
      const expanded = hamburger.getAttribute('aria-expanded') === 'true';
      hamburger.setAttribute('aria-expanded', !expanded);

      if (!expanded) {
        const menuHeight = navList.offsetHeight;
        main.style.marginTop = `${menuHeight}px`;
      } else {
        main.style.marginTop = '0';
      }
    });
  </script>
</body>
</html>