<!DOCTYPE html>
<html lang="ru">
<head>
  {% include "basehead.html" %}
</head>
<body>
  <!-- READY -->
  <header>
    {% include "baseheader.html" %}
  </header>



  <main class="px-4">
    {{content | safe}}
  </main>


  <!-- WORK IN PROGRESS -->
  <footer>
    <!-- CODE HERE -->
  </footer>


  <!-- WORK IN PROGRESS -->
  <!-- MOVE TO SEPARATE FILE WHEN FINISHED -->
  <script>
    const hamburger = document.querySelector('.hamburger');
    const navList = document.querySelector('.nav-list');

    hamburger.addEventListener('click', () => {
      hamburger.classList.toggle('active');
      navList.classList.toggle('active');

      const expanded = hamburger.getAttribute('aria-expanded') === 'true';
      hamburger.setAttribute('aria-expanded', !expanded);
    });
  </script>
</body>
</html>