@import url('reset.css');
@import url('header.css');
@import url('footer.css');
@import url('main.css');

@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
  --white: #f9f9f9;
  --black: #333333;
  --blue: #003366;
  --yellow: #ffbe0b;
  --grey: #718f94;
}

body {
  font-family: Montserrat !important;
  background-color: var(--white) !important;
  color: var(--black) !important;
}

/* DELETE THIS LATER */
main {
  background-color: var(--white);
}

